footer{
    background-color: var(--secondary-color);
    color: var(--background-color);

    display: flex;
    justify-content: space-between;

    font-size: 0.9em;
    font-weight: 300;
}

footer ul{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.transportadora, .duvidas-frequentes, .contato{
    width: 30%;
}

.transportadora h3, .duvidas-frequentes h3, .contato h3{
    margin: 0 0 0.5em 0;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-contato{
    padding: 0.8em 1em;
    width: 80%;
    background-color: var(--secondary-color);
    border: 1px solid var(--background-color);
    border-radius: 10px;
    color: var(--background-color);
    font-weight: 600;
}

.btn-contato:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    cursor: pointer;
}

footer a:hover{
    color: var(--primary-color);
    cursor: pointer;
}